@using Wiki.Models.DAL
@using Wiki.Resources.Views

<div class="well">
    <h4>@Strings.Contenu</h4>
    @foreach (var article in Articles.GetTitres())
    {
        @Html.ActionLink(article, "Index", "Home", new { id = article }, null)
        <br />
    }
</div>