
@{
    ViewBag.Title = "Apropos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>À propos de l’application</h2>

<p>
    <br/>
    Cette application a été réalisée dans le cadre du cours 420-D71 Programmation Web 1 et permet de valider les connaissances acquises dans la première partie du cours.
    <br/>
    <br/>
    En effet, dans cette première partie, nous avons vu comment intégrer un contrôleur de type CRUD pouvant agir sur un modèle particulier.
    <br/>
    <br/>
    Nous avons passé en détails chacune des composantes d’un framework de type MVC.
    <br/>
    <br/>
    M=Modèle
    <br/>
    V=Vue
    <br/>
    C=Contrôleur
</p>